:root {
  --bg-img-day: url("/clouds2.jpg");
  --bg-img-night: url("/moon.jpg");
  --bg-color: #8dc6ff;
  --bg-color-night: #272343;
  --bg-color-body: #8ec6fc;
  --bg-color-body-night: black;
}

body {
  background-image: var(--bg-img-day);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Noto Sans", sans-serif;
  background-color: var(--bg-color-body);
}
div.container {
  background-color: var(--bg-color);
  max-width: 750px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
h1 {
  padding-top: 25px;
  text-align: center;
  color: #22313f;
  font-size: 48px;
  text-transform: uppercase;
  text-shadow: 0px 3px 8px rgba(36, 88, 201, 0.4);
}
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: grey;
  font-size: 18px;
}
div.country-selector {
  margin: auto 20px;
  margin-bottom: 25px;
}

footer {
  text-align: center;
}

div.country-selector,
div.countries-displayed {
  text-align: center;
}

div.countries-displayed {
  padding-bottom: 20px;
  max-width: 720px;
  margin: 0 auto;
  color: #22313f;
}

div.country {
  margin: 10px 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px #22313f dashed;
}
div.country-details {
  text-align: left;
}
div.country:last-child {
  border: none;
}
div.country-details:first-child {
  font-size: 24px;
}
div.country-date {
  text-align: left;
  font-size: 18px;
}
span.country-time {
  font-size: 48px;
}

span.country-time small {
  font-size: 14px;
  vertical-align: middle;
}
select#countries {
  background-color: #cfe1f3;
  border-color: #22313f;
  color: #31465a;
}

body.night-theme {
  background-image: var(--bg-img-night);
  color: white;
}
body.night-theme div.container {
  background-color: var(--bg-color-night);
  box-shadow: 10px 10px 20px rgba(158, 154, 154, 0.2);
  background-color: var(--bg-color-body-night);
}

body.night-theme div,
body.night-theme h1 {
  color: white;
}

body.night-theme h1 {
  text-shadow: 0px 3px 8px rgba(211, 219, 236, 0.4);
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 30px;
  }
  span.country-time {
    font-size: 22px;
  }

  span.country-time small {
    font-size: 12px;
    vertical-align: middle;
  }

  div.country-details:first-child {
    font-size: 16px;
  }
  div.country-date {
    font-size: 12px;
  }
}
